<style>
.discover-section {
	width: 100dvw;
	height: 790px;
	padding: 0 10vw;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	margin-top: 50px;
}
.discover-row {
	height: 668px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.discover-item {
	background: rgba(93, 90, 27, .21);
	width: 500px;
	height: 651px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.discover-img {
	width: 500px;
}
.discover-item p {
	font-family: Lora;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
}
.read-more {
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: end;
}
.read-more button:hover{
   background: radial-gradient(#748c3c, #5f7728, #4b5e1e);
  color: #fff;
}
.discover-item button {
	padding: 7px 13px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Montserrat", sans-serif;
	font-size: 17px;
	background-color: white;
	font-weight: normal;
	border: 0;
    cursor: pointer;
	width: 120px;
}
.discover-details {
	width: 95%;
	margin: auto;
	height: 163px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
</style>

<div class="discover-section">
    <div class="slider-title">
        <p>Explore</p>
        <h2>Discover Us</h2>
    </div>

    <div class="discover-row">
        
<div class="discover-item">
    <img class="discover-img" src="{{'product2.png' |  asset_url}}" width="" height="" alt="">
    <div class="discover-details">
        <p>To insert non-localized, pseudo-Latin sample text in Word, type =lorem() in the document where you want the text to appear, and then press ENTER. </p>
    <div class="read-more">
        <button>Read More</button>
    </div>
    </div>
    </div>
    <div class="discover-item">
    <img class="discover-img" src="{{'product2.png' |  asset_url}}" width="" height="" alt="">
    <div class="discover-details">
        <p>To insert non-localized, pseudo-Latin sample text in Word, type =lorem() in the document where you want the text to appear, and then press ENTER. </p>
    <div class="read-more">
        <button>Read More</button>
    </div>
    </div>
    </div>
    </div>

</div>


